@model IEnumerable<Domain_Entities.Operatie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AcronimValuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdaosRealizat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdaosRelativ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalitateClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodTaraClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursOficialBnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursValutarStabilit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOperatiune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenumireTaraClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentPlata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multiplu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarCurentChitanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarDocument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarDocumentIdentitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarLista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarRaportZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumePrenumeClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParitateEuro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcentComisionCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcentComisionCec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerieChitanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerieDocumentIdentitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldPrecedent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StareOperatiuneTranzactie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumaValuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDocumentIdentitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValoareComision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValoareLei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValoareSpeze)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcronimValuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdaosRealizat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdaosRelativ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalitateClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodTaraClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursOficialBnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursValutarStabilit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOperatiune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireTaraClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentPlata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multiplu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarCurentChitanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarDocumentIdentitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarLista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarRaportZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumePrenumeClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParitateEuro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcentComisionCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcentComisionCec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieChitanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieDocumentIdentitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldPrecedent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StareOperatiuneTranzactie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumaValuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipDocumentIdentitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValoareComision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValoareLei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValoareSpeze)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
