@model IEnumerable<Domain_Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodTara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenumireTara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNigger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarDocumentIdentitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerieDocumentIdentitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipDocumentIdentitate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodTara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenumireTara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNigger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarDocumentIdentitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieDocumentIdentitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipDocumentIdentitate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
