@using Domain_Entities
@model Casier

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Casier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccesCasaLeiValuta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesCasaLeiValuta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesOperatiiTransfer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesOperatiiTransfer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportAdaosLunar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportAdaosLunar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportBnrNou)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportBnrNou)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportBnrVechi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportBnrVechi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportSpecial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportSpecial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportTransferuriZilnice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportTransferuriZilnice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesRaportTranzactiiZilnice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesRaportTranzactiiZilnice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesTransferuriLunare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesTransferuriLunare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccesTranzactiiLunare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccesTranzactiiLunare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
