@model Domain_Entities.Tara

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tara</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCumparariEuro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCumparariEuro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalVanzariEuro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalVanzariEuro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
